@model MembershipApp.Models.RolesManager.RoleManagerViewModel
@{
    ViewBag.Title = "Manage Roles";
}
<h2>
    Manage Roles</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <ul>
        @{int counter = 0;
        }
        @foreach (var role in Model.Roles)
        {
            <li>
                @if (Model.EditMode && Model.Index == counter)
                {
                    @Html.TextBoxFor(m => m.Roles[counter], new { @class = "postLink", href = Url.Action("Change", new { index = counter }) })
                    @Html.ActionLink("Delete", "Delete", new { index = counter }, new { @class = "postLink" })
                }
                else
                {
                    @Html.ActionLink(role, "ChangeMode", new{index = counter, EditMode = true}, new {@class="postLink"})
                    @Html.HiddenFor(m=>m.Roles[counter])
                }
            </li>
                counter++;
        }
        <li>@Html.TextBox(String.Format("Roles[{0}]", counter), String.Empty, new { @class = "postLink", href = Url.Action("Insert") })</li>
    </ul>
}
