@model ContactWeb.Models.Contact

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<fieldset>
    <legend>Contact</legend>

    <div class="display-label">FirstName</div>
    <div class="display-field">@Model.FirstName</div>

    <div class="display-label">LastName</div>
    <div class="display-field">@Model.LastName</div>

    <div class="display-label">Email</div>
    <div class="display-field">@Model.Email</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>

