@model AutoDealership.Models.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Car</legend>

    <div class="display-label">Year</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">Make</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Make)
    </div>

    <div class="display-label">Model</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">Color</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Color)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">Vehicle Identification Number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle_Identification_Number)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { vin = Model.Vehicle_Identification_Number }) |
    @Html.ActionLink("Back to List", "List")
</p>
